<h2>Listado de productos</h2>
<div class="container lista-productos">

{{#each respuesta}}
  
  <div class="producto">
    {{#each this}}
        
             <div class="container contenedor-producto">
            
                      <p class="text-center">{{this}}</p>
            
            </div>
       

    {{/each}}
    <div class="contenedor-boton">

                <button type="button" class="btn btn-primary">Agregar al carrito</button>
    </div>
    </div>
    
{{/each}}
</div>


<hr>