<h2>Listado de productos</h2>
<div class="container lista-productos">

{{#each respuesta}}
    
    {{#each this}}
        <div class="container">
            <p>{{this}}</p>
        </div>

    {{/each}}
    <hr>
{{/each}}
</div>


<hr>